.header {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  background: black;
  padding: 30px 180px;
  justify-content: space-between;
}

@media (max-width: 1220px) {
  .header {
    padding: 30px 100px;
  }
}

@media (max-width: 1020px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 30px 60px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 30px 35px;
  }
}